<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ <<
  ~  Davinci
  ~  ==
  ~  Copyright (C) 2016 - 2019 EDP
  ~  ==
  ~  Licensed under the Apache License, Version 2.0 (the "License");
  ~  you may not use this file except in compliance with the License.
  ~  You may obtain a copy of the License at
  ~        http://www.apache.org/licenses/LICENSE-2.0
  ~   Unless required by applicable law or agreed to in writing, software
  ~   distributed under the License is distributed on an "AS IS" BASIS,
  ~   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~   See the License for the specific language governing permissions and
  ~   limitations under the License.
  ~  >>
  ~
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edp.davinci.dao.PreviewResultMapper">
    
    <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="edp.davinci.model.PreviewResult">
        insert visualis_preview_result
        <trim prefix="(" suffix=")" suffixOverrides=",">
            `id`,
            `execId`,
            <if test="name != null">
                `name`,
            </if>
            `status`,
            <if test="description != null">
                `description`,
            </if>
            <if test="result != null">
                `result`,
            </if>
            <if test="createBy != null">
                `create_by`,
            </if>
            <if test="createTime != null">
                `create_time`,
            </if>
            `isArchive`
        </trim>
        values
        <trim prefix=" (" suffix=")" suffixOverrides=",">
            #{id},
            #{execId},
            <if test="name != null">
                `name`,
            </if>
            #{status},
            <if test="description != null">
                #{description},
            </if>
            <if test="result != null">
                #{result},
            </if>
            <if test="createBy != null">
                #{createBy},
            </if>
            <if test="createTime != null">
                #{createTime},
            </if>
            #{isArchive}
        </trim>
    </insert>
    
    
    <select id="selectByExecId" parameterType="java.lang.String" resultType="edp.davinci.model.PreviewResult">
        select id, execId, name, status, description, result, create_by createBy, create_time createTime, isArchive
        from visualis_preview_result
        where execId = #{execId}
    </select>

    <select id="checkStatus" resultType="java.lang.String">
        select status
        from visualis_preview_result
        where execId = #{execId}
    </select>

</mapper>