@import "../../assets/less/variable";
.report {
  flex: 1;
  display: flex;
  flex-direction: row;
  min-height: 0;

  .container {
    flex: 1;
    overflow-y: auto;
  }

  .sidebar {
    display: flex;
    flex-direction: column;

    &>div {
      flex: 1;
    }
  }

  .home {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    font-size: 24px;
    height: 70px;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.65);
    &:hover {
      color: @blue;
    }
  }
}
